@charset "UTF-8";
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.otf") format("opentype"), url("../fonts/Gotham-Bold.svg") format("svg"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.otf") format("opentype"), url("../fonts/Gotham-Book.svg") format("svg"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.otf") format("opentype"), url("../fonts/Gotham-Medium.svg") format("svg"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.otf") format("opentype"), url("../fonts/OpenSans-Bold.svg") format("svg"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.otf") format("opentype"), url("../fonts/OpenSans-Regular.svg") format("svg"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.otf") format("opentype"), url("../fonts/Roboto-Bold.svg") format("svg"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.otf") format("opentype"), url("../fonts/Roboto-Regular.svg") format("svg"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/MyriadPro.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro.otf") format("opentype"), url("../fonts/MyriadPro.svg") format("svg"), url("../fonts/MyriadPro.ttf") format("truetype"), url("../fonts/MyriadPro.woff") format("woff"), url("../fonts/MyriadPro.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Gotham-Book";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 767.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

input, button, textarea {
  font-family: "Gotham-Book"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1182px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.header-body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 115px;
  position: relative; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid #7b7b7b; }
  .header__menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    height: 100%; }
  .header__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    margin-right: 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 688px;
    height: 100%; }
    .header__list li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px 14px 0;
      height: 100%;
      position: relative; }
      .header__list li:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: #11749e;
        height: 6px;
        width: 100%;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .header__list li:hover:after {
        opacity: 1; }
      .header__list li.active:after {
        opacity: 1 !important; }
  .header__link {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: 400; }
  .header__share {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__network {
    display: block; }
    .header__network:nth-child(1) {
      margin-right: 31px; }
    .header__network:nth-child(2) {
      margin-right: 24px; }
    .header__network:nth-child(3) {
      margin-right: 22px; }

@media (max-width: 992.98px) {
  .header__icon {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5; }
    .header__icon span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff; }
      .header__icon span:first-child {
        top: 0px; }
      .header__icon span:last-child {
        top: auto;
        bottom: 0px; }
    .header__icon.active span {
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
      .header__icon.active span:first-child {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .header__icon.active span:last-child {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 8px; }
  .header__menu {
    position: fixed;
    top: 0;
    right: -120%;
    width: 35%;
    height: 100%;
    background: #7b7b7b;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    padding: 35px 0 20px 20px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    .header__menu.active {
      right: 0; }
  .header__menu--close {
    width: 65% !important; }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
    margin: 0;
    min-width: auto; }
    .header__list li {
      height: auto;
      padding: 10px 14px;
      margin-bottom: 15px; }
      .header__list li:last-child {
        margin: 0; }
      .header__list li:after {
        top: 0;
        left: 0;
        height: 100%;
        width: 4px; }
  .header__link {
    font-size: 24px; }
  .header__share {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 20px 0 0 20px; }
  .header__network {
    margin: 0 35px 0 0 !important; }
    .header__network:last-child {
      margin: 0; }
    .header__network img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); } }

@media (max-width: 800px) {
  .header__menu {
    width: 50%;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; }
  .header__menu--close {
    width: 50% !important; } }

@media (max-width: 500px) {
  .header__menu {
    width: 70%; }
  .header__menu--close {
    width: 30% !important; }
  .header__share {
    margin-top: 30px !important; }
  .header__network {
    margin-right: 25px !important; }
    .header__network:last-child {
      margin: 0; } }

footer {
  padding: 39px 0;
  background-color: #222222; }
  @media (max-width: 1182px) {
    footer {
      padding: 25px 0; } }
  @media (max-width: 992.98px) {
    footer {
      padding: 15px 0; } }
  @media (max-width: 767.98px) {
    footer {
      padding: 10px 0; } }

.footer__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 550px) {
    .footer__body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer__column {
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.26px; }

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  .main__content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 223px 0 135px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main__content .container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .main__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .main__title {
    color: #f5f5f5;
    font-family: Gotham;
    font-size: 153px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1.92px; }
  .main__subtitle {
    color: #11749e;
    font-family: Gotham;
    font-size: 25px;
    font-weight: 500;
    line-height: 51.19px;
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-right: -15px; }
  .main__down {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    display: block;
    margin-bottom: 48px; }
  .main__arrow {
    padding: 26px 24px 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-animation: arrow 5s linear infinite;
    animation: arrow 5s linear infinite; }
  @media (max-width: 1182px) {
    .main__title {
      font-size: 120px; }
    .main__subtitle {
      font-size: 20px;
      letter-spacing: 15px;
      margin-bottom: 70px; } }
  @media (max-width: 992.98px) {
    .main__title {
      font-size: 80px; }
    .main__subtitle {
      font-size: 15px;
      letter-spacing: 9px;
      margin-bottom: 60px; } }
  @media (max-width: 600px) {
    .main__title {
      font-size: 50px; }
    .main__subtitle {
      letter-spacing: 2px; } }

.we {
  background: #11749e;
  padding: 172px 0 118px; }
  .we__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .we__title {
    margin-bottom: 144px; }
  .we__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
  .we__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    margin: 0 42px 0 0; }
    .we__column:last-child {
      margin: 0; }
  .we__img {
    width: 133px;
    height: 133px;
    background-color: #2e85aa;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 24px; }
    .we__img img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0); }
  .we__sub {
    color: #ffffff;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px; }
  .we__text {
    color: #ffffff;
    font-family: "Gotham-Book";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    max-width: 260px; }
  @media (max-width: 1182px) {
    .we {
      padding: 142px 0 40px; }
      .we__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .we__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 46%;
        flex: 0 0 46%;
        margin: 0 42px 40px 0; }
        .we__column:nth-child(2) {
          margin: 0 0 40px 0; }
        .we__column:last-child {
          margin: 0 0 40px 0; }
      .we__text {
        margin: 0 auto; } }
  @media (max-width: 767.98px) {
    .we {
      padding: 100px 0 20px; }
      .we__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .we__column {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin: 0 0 30px 0 !important; }
      .we__text {
        margin: 0 auto; }
      .we__title {
        margin-bottom: 70px; } }

.akita {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  .akita__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    background-color: #222222;
    position: relative; }
    .akita__column--t {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      font-size: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 85px 0 114px 0; }
    .akita__column--w {
      background: #f3f3f3; }
  .akita__body {
    padding: 0 30px 0 125px; }
  .akita__uptitle {
    color: #a7a7a7;
    font-family: "Gotham-Book";
    font-size: 13px;
    font-weight: 400; }
    .akita__uptitle--b {
      color: #222222; }
  .akita__title {
    color: #ffffff;
    font-family: Gotham;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 18px; }
    .akita__title--b {
      color: #272727; }
  .akita__text {
    margin-top: 31px;
    color: #a7a7a7;
    font-family: "Gotham-Book";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    max-width: 470px; }
    .akita__text--b {
      color: #222222; }
  .akita__img {
    height: 100%;
    width: 100%;
    position: relative; }
  .akita__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media (max-width: 767.98px) {
    .akita__column--t {
      padding: 60px 0 40px 0; } }
  @media (max-width: 1000px) {
    .akita {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .akita__column {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%; }
        .akita__column--r {
          -webkit-box-ordinal-group: 1;
          -moz-box-ordinal-group: 1;
          -ms-flex-order: 1;
          -webkit-order: 1;
          order: 1; }
        .akita__column--y {
          -webkit-box-ordinal-group: 2;
          -moz-box-ordinal-group: 2;
          -ms-flex-order: 2;
          -webkit-order: 2;
          order: 2; }
      .akita__img {
        padding-bottom: 40%; } }
  @media (max-width: 767.98px) {
    .akita__body {
      padding: 0 15px; } }
  @media (max-width: 550px) {
    .akita__img {
      padding-bottom: 50%; } }

.blog {
  text-align: center;
  padding: 164px 0 94px; }
  .blog__title {
    margin-bottom: 115px; }
  .blog__sub {
    color: #222222;
    font-family: "Gotham-Book";
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 76px; }
  .blog__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
  .blog__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    margin-right: 29px;
    position: relative;
    padding: 324px 0 0 0; }
    .blog__column:last-child {
      margin: 0; }
  .blog__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 104.05%; }
  .blog__name {
    color: #11749e;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .blog__text {
    color: #222222;
    font-family: "Gotham-Book";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; }
  @media (max-width: 1182px) {
    .blog__row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .blog__column {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 47.5%;
      flex: 0 0 47.5%;
      margin: 0 29px 40px 0;
      padding-top: 54%; }
      .blog__column:nth-child(2), .blog__column:last-child {
        margin: 0 0 40px 0; } }
  @media (max-width: 1182px) {
    .blog {
      padding: 90px 0 0px; } }
  @media (max-width: 600px) {
    .blog__column {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      margin: 0 0 30px 0 !important;
      padding: 110% 0 0 0; } }

.pen {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 114px 0 156px;
  background-color: #11749e; }
  .pen .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
  .pen__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    padding: 0 31px 0 0; }
    .pen__column:last-child {
      padding: 0 0 0 31px; }
  .pen__img {
    margin-right: 34px; }
  .pen__text {
    color: #ffffff;
    font-family: "Gotham-Book";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    max-width: 450px; }
  @media (max-width: 1182px) {
    .pen {
      padding: 88px 0 100px; } }
  @media (max-width: 992.98px) {
    .pen {
      padding: 60px 15px 30px; }
      .pen .container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .pen__column {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        padding: 0 !important;
        margin-bottom: 40px; } }
  @media (max-width: 767.98px) {
    .pen__column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .pen__img {
      margin: 0 0 20px; } }

.phone {
  position: relative;
  padding: 97px 0; }
  .phone__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .phone__body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
  .phone__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .phone__column:last-child {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .phone__title {
    color: #ffffff;
    font-family: Gotham;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .phone__text {
    color: #ffffff;
    font-family: "Gotham-Book";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 58px;
    max-width: 470px; }
  .phone__plus {
    background-color: #11749e;
    color: #ffffff;
    font-family: Gotham;
    font-size: 15px;
    font-weight: 500;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 24px;
    padding-left: 19px; }
    .phone__plus--1 {
      width: 370px;
      height: 38px;
      overflow: hidden; }
    .phone__plus--2 {
      width: 400px;
      height: 38px;
      overflow: hidden; }
    .phone__plus--3 {
      width: 430px;
      height: 38px;
      overflow: hidden; }
  @media (max-width: 992.98px) {
    .phone {
      padding: 50px 0 10px 0; }
      .phone__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .phone__column {
        margin-bottom: 30px;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important; }
        .phone__column:first-child {
          -webkit-box-ordinal-group: 2;
          -moz-box-ordinal-group: 2;
          -ms-flex-order: 2;
          -webkit-order: 2;
          order: 2; }
        .phone__column:last-child {
          -webkit-box-ordinal-group: 1;
          -moz-box-ordinal-group: 1;
          -ms-flex-order: 1;
          -webkit-order: 1;
          order: 1; }
      .phone__img img {
        width: 240px;
        height: 400px; } }
  @media (max-width: 500px) {
    .phone__plus {
      overflow: visible !important;
      height: auto !important; }
      .phone__plus--1 {
        width: 260px; }
      .phone__plus--2 {
        width: 280px; }
      .phone__plus--3 {
        width: 300px; }
    .phone__text {
      margin-bottom: 30px; } }

.team {
  padding: 140px 0 125px; }
  @media (max-width: 992.98px) {
    .team {
      padding: 120px 0 50px; } }
  @media (max-width: 620px) {
    .team {
      padding: 100px 0 20px; } }
  .team__body {
    text-align: center; }
  .team__title {
    margin-bottom: 140px; }
    @media (max-width: 992.98px) {
      .team__title {
        margin-bottom: 100px; } }
  .team__sub {
    color: #222222;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 66px; }
    @media (max-width: 620px) {
      .team__sub {
        margin-bottom: 30px; } }
  .team__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
    @media (max-width: 992.98px) {
      .team__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .team__column {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    margin-right: 30px;
    padding-top: 25.04%; }
    .team__column:last-child {
      margin: 0; }
    @media (max-width: 992.98px) {
      .team__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 47.5%;
        flex: 0 0 47.5%;
        padding-top: 64.27%;
        margin-bottom: 80px !important; }
        .team__column:last-child, .team__column:nth-child(2) {
          margin: 0; } }
    @media (max-width: 620px) {
      .team__column {
        margin: 0 0 60px !important;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        padding-top: 110%; } }
    @media (max-width: 450px) {
      .team__column {
        margin-bottom: 30px !important; } }
  .team__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .team__content {
    background: #fff;
    margin: 0 auto;
    padding: 20px 10px 46px;
    margin-bottom: -69px;
    display: inline-block;
    max-width: 220px; }
    @media (max-width: 992.98px) {
      .team__content {
        padding: 20px 10px;
        max-width: 290px; } }
    @media (max-width: 620px) {
      .team__content {
        margin-bottom: -50px;
        max-width: 280px; } }
  .team__name {
    color: #11749e;
    font-family: Gotham;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 7px; }
    @media (max-width: 620px) {
      .team__name {
        font-size: 30px;
        line-height: 34px; } }
    @media (max-width: 450px) {
      .team__name {
        font-size: 20px; } }
  .team__more {
    color: #000000;
    font-family: Gotham;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px; }
    @media (max-width: 620px) {
      .team__more {
        font-size: 24px; } }
    @media (max-width: 450px) {
      .team__more {
        font-size: 16px; } }

.send {
  padding: 224px 0 101px;
  position: relative; }
  .send__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .send__title {
    margin-bottom: 150px; }
  .send__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    margin-bottom: 39px; }
    .send__row .input {
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.3px;
      background: transparent;
      border: 1px solid #ffffff;
      padding: 20px 22px 17px;
      margin-right: 28px; }
      .send__row .input:last-child {
        margin: 0; }
  .send__area .text {
    margin-bottom: 46px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 36px;
    resize: none;
    background: transparent;
    border: 1px solid #ffffff;
    display: block;
    width: 100%;
    min-height: 150px;
    padding: 8px 22px; }
  .send__button .btn {
    color: #ffffff;
    margin: 0 auto;
    font-family: Gotham;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 19px 70px 27px 63px;
    background-color: #11749e;
    display: block;
    position: relative;
    overflow: hidden; }
    .send__button .btn span {
      position: relative;
      z-index: 1; }
    .send__button .btn:before {
      content: '';
      position: absolute;
      width: 130%;
      height: 250%;
      background: #0a445c;
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
      top: 105%;
      left: -75%;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
    .send__button .btn:hover:before {
      -webkit-animation: btn 1s ease-out;
      animation: btn 1s ease-out;
      top: -70%;
      left: -10%; }
  @media (max-width: 1182px) {
    .send {
      padding: 190px 0 80px; } }
  @media (max-width: 992.98px) {
    .send {
      padding: 160px 0 60px; }
      .send__title {
        margin-bottom: 100px; } }
  @media (max-width: 767.98px) {
    .send {
      padding: 90px 0 40px; }
      .send__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0; }
        .send__row .input {
          margin: 0 0 30px 0 !important; }
      .send__title {
        margin-bottom: 60px; } }

@-webkit-keyframes btn {
  0% {
    top: 105%;
    left: -75%; }
  50% {
    top: -150%;
    left: 10%; }
  100% {
    top: -70%;
    left: -10%; } }

@keyframes btn {
  0% {
    top: 105%;
    left: -75%; }
  50% {
    top: -150%;
    left: 10%; }
  100% {
    top: -70%;
    left: -10%; } }

.map {
  position: relative;
  padding-bottom: 20.75%; }
  .map__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media (max-width: 992.98px) {
    .map {
      padding-bottom: 40%; } }
  @media (max-width: 767.98px) {
    .map {
      padding-bottom: 50%; } }

.form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin: 0px -15px; }

.form__column {
  padding: 0px 15px; }

.btn {
  display: inline-block;
  padding: 0px 0px; }
  .btn.fw {
    width: 100%; }

.header__menu--close {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  z-index: 50; }
  .header__menu--close.close {
    display: block; }

.title {
  color: #ffffff;
  font-family: Gotham;
  font-size: 38px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  text-align: center; }
  .title span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    opacity: 0.18;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 247px;
    font-weight: 700;
    text-transform: uppercase; }
  .title--b {
    color: #222222; }
    .title--b span {
      color: #222222; }
  @media (max-width: 767.98px) {
    .title {
      font-size: 30px; }
      .title span {
        font-size: 200px; } }

.select-block {
  position: relative; }

.select__label {
  z-index: 2;
  position: absolute;
  top: -8px;
  background-color: #f7f7f7;
  padding: 0 5px;
  color: #979797;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  left: 20px; }

.select {
  position: relative;
  cursor: pointer; }
  .select .select-title {
    z-index: 1;
    width: 100%;
    height: 55px;
    border: 1px solid #dedede;
    position: relative;
    background-color: #fff; }
  .select .select-title__arrow {
    position: absolute;
    top: 0;
    right: 0px;
    width: 45px;
    height: 100%;
    background: url("../img/icons/select-arrow.svg") center no-repeat; }
  .select .select-title__value {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 53px;
    display: block;
    overflow: hidden;
    padding: 0 45px 0 25px;
    white-space: nowrap;
    text-transform: none;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .select .select-options {
    position: absolute;
    z-index: 10;
    top: 54px;
    display: none;
    overflow: hidden;
    min-width: 100%;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 10px 20px 10px 25px; }
  .select .select-options-scroll {
    max-height: 80px;
    overflow: auto; }
  .select .select-options-list {
    padding: 0px 0px 0px 0px; }
  .select .select-options__value {
    color: #000;
    font-size: 20px;
    margin: 0px 0px 15px 0px; }
    .select .select-options__value:last-child {
      margin: 0px 0px 0px 0px; }
    .select .select-options__value:hover {
      color: #000; }

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px; }

textarea.input {
  resize: none;
  padding: 0px 0px; }

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer; }
  .check input {
    display: none; }
  .check:before {
    content: '';
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #a3a3a3;
    position: absolute; }
  .check.active:before {
    background: url("../img/icons/check.png") center no-repeat; }

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300; }
  .option:last-child {
    margin-bottom: 0px; }
  .option input {
    display: none; }
  .option:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #7f7f7f;
    border-radius: 50%; }
  .option.active:before {
    background: url("../img/icons/option.png") center no-repeat; }

.rating-block {
  display: table;
  font-size: 0; }

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .rating.edit .star {
    cursor: pointer; }
  .rating .star {
    width: 17px;
    height: 14px;
    display: inline-block;
    position: relative;
    z-index: 3; }

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%; }

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%; }

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle; }

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff; }

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300; }

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer; }
  .quantity__btn:before {
    font-size: 25px;
    display: inline-block;
    line-height: 10px;
    color: #a9a9a9; }
  .quantity__btn:hover:before {
    color: #da0005; }
  .quantity__btn.dwn {
    top: 25px; }

.category-params-item-price-table {
  margin-bottom: 25px; }
  .category-params-item-price-table .cell:first-child {
    padding-right: 15px;
    position: relative; }
    .category-params-item-price-table .cell:first-child:after {
      content: '-';
      position: absolute;
      right: -4px;
      top: 8px;
      font-size: 20px; }
  .category-params-item-price-table .cell:last-child {
    padding-left: 15px; }
  .category-params-item-price-table .cell input {
    height: 37px;
    border: 2px solid #393939;
    background-color: #ffffff;
    text-align: center;
    font-size: 12px;
    color: #393939;
    font-weight: 500;
    width: 100%; }

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative; }
  .category-params-item-price-range .ui-slider-range {
    background-color: #000;
    height: 2px;
    position: relative; }
  .category-params-item-price-range .ui-slider-handle {
    width: 23px;
    height: 28px;
    border: 3px solid #fbfbfb;
    background-color: #ea5922;
    display: block;
    position: absolute;
    top: -14px;
    margin-left: -12px;
    cursor: pointer; }
    .category-params-item-price-range .ui-slider-handle span {
      position: absolute;
      bottom: -18px;
      left: 50%;
      width: 50px;
      text-align: center;
      font-size: 10px;
      margin-left: -25px;
      font-weight: 500;
      color: #94a6aa; }

.form__info {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  color: #888;
  z-index: 2;
  font-size: 14px; }
  @media (max-width: 767.98px) {
    .form__info {
      width: 50px;
      height: 50px;
      line-height: 50px; } }

.form-range-line {
  position: relative;
  height: 5px;
  border-radius: 0 0 4px 4px;
  background-color: #e0e0e0;
  margin: -2px 0px 0px 0px; }
  .form-range-line .ui-slider-range {
    background-color: #093454;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 4px 4px; }
  .form-range-line .ui-slider-handle {
    background: url("../img/icons/range.svg") 0 0 no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    margin: -9px 0px 0px -14px;
    top: 0;
    left: 0;
    cursor: pointer; }
  .form-range-line .ui-state-hover {
    background: url("../img/icons/range_a.svg") 0 0 no-repeat; }

.form-range-values {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px 0px 0px 0px; }

.form-range-values__item {
  font-size: 12px;
  color: #888; }

.row:after {
  display: block;
  content: '';
  clear: both; }

.rub:after {
  content: '₽'; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

ol.counter {
  list-style-type: none;
  counter-reset: item; }
  ol.counter li {
    position: relative;
    padding: 0px 0px 0px 45px; }
    ol.counter li:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
      color: #818181;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 26px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      border: 1px solid #4274bb; }

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.table {
  display: table;
  font-size: 0;
  width: 100%; }

.trow {
  display: table-row; }

.cell {
  display: table-cell; }
  .cell.full {
    width: 100%; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    display: none; }

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; }
  .video video, .video iframe, .video object, .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.videobg video, .videobg iframe, .videobg object, .videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

.moretext {
  overflow: hidden; }

.moretext__more {
  cursor: pointer; }
  .moretext__more i {
    font-style: normal; }
    .moretext__more i:first-child {
      display: block; }
    .moretext__more i:last-child {
      display: none; }
  .moretext__more.active i {
    font-style: normal; }
    .moretext__more.active i:first-child {
      display: none; }
    .moretext__more.active i:last-child {
      display: block; }

.graystyle {
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1); }

.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0); }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }

.mirror {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.nicescroll-rails {
  z-index: 1000 !important; }

.gm-style-iw-t {
  opacity: 0; }

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important; }
  .baloon button {
    display: none !important; }
  .baloon:after {
    display: none !important; }

.baloon-style {
  display: none; }

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important; }
  .baloon-content.gm-style-iw > .gm-style-iw-d {
    overflow: hidden !important;
    max-width: none !important; }
  .baloon-content.gm-style-iw:after {
    display: none !important; }

.baloon-close {
  top: 18px !important; }
